* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

/* utilities */

header {
  height: 50px;
  background-color:white;
  padding: 5px;
}

header .div {
  width: calc(100% / 3);
}

main {
  height: calc(100vh - 50px);
  background-color:rgb(47, 87, 85);

}

.main-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.container {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
}

.box {
  border: 1px solid black;
  background-color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.warn {
  background-color: red;
}

.box.easy {
  width: calc(100% / 10);
  aspect-ratio: 1/1;
}

.box.medium {
  width: calc(100% / 9);
  aspect-ratio: 1/1;
}

.box.hard {
  width: calc(100% / 7);
  aspect-ratio: 1/1;
}

.box.active {
  background-color:grey ;
}

/* ========== SELECT DECORATION ============ */

header div:first-child {
  display: flex;
  justify-content: flex-end;
}

div:first-child select {
  font-size: 1.5rem;
  padding: 0px 30px;
  border: none;
}

/* ========== SCORE DECORATION ============ */

header div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}




/* ========== BUTTON DECORATION ============ */

header div:last-child {
  display: flex;
}

button {
  font-size: 1.2rem;
  padding: 5px 15px;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}
#startButton {
  background-color: rgb(93, 240, 93);
}
#resetButton {
  background-color: rgb(240, 93, 93);
}

button:hover {
  border: 1px solid black;
}
